venv/
.venv/
__pycache__/
*.pyc

.env
.aws/
*.pem

data/
outputs/
.ipynb_checkpoints/

training/model_output/
training/train - Copie.py
training/launch_training - Copie.py

inference/label_mapping.json
inference/model.pt
model_output/


*.invalid